.footer {
    background: url(../assets/book-trace-background.png) no-repeat top;
    overflow: hidden;
    padding-block: 150px;
    padding-inline: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .footer-1 {
        max-width: fit-content;
    }

    & .divisor {
        max-width: 16.5rem;
        border: 1px solid var(--shape-stroke);
        margin-block: 12px;
    }

    & .icons-social {
        display: flex;
        align-items: center;
        gap: 1rem;
        
        & a {
            padding: 2px;
            width: 2rem;
            height: 2rem;
            border-radius: 5rem;
            display: flex;
            position: relative;
            z-index: 0;

            &:hover::before {
                transform: scale(1);
            }

            &:hover svg path {
                fill: #FFF;
            }

            &::before {
                content: "";
                inset: 0;
                border-radius: inherit;
                

                position: absolute;
                z-index: -1;

                transform: scale(0);
                transition: transform 200ms;
            }
        }
    }

    & .footer-2 {
        display: flex;
        gap: 3.5rem;

        & nav ul {
            list-style: none;
            display: grid;
            gap: 12px;
            font-weight: bold;

            & li a{
                color: var(--blue-light);
                font-size:  0.875rem;
                font-weight: normal;
            }
        }
    }
}
