#hero {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 10rem;
  padding-top: 3.5rem;
  background: url('../assets/hero-background.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  
  opacity: 0;
  transform: translateY(40px);
  animation: subir 1.5s ease-in forwards;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:nth-child(2) {
      background-color: var(--pink-dark);
      padding-inline: 1.25rem;
      padding-block: 0.75rem;
      border-radius: 0.5rem;
      transition: background-color 200ms linear;

      &:hover {
        background-color: var(--pink-base);
      }
    }
  }

  .title {
    h1 {
      max-width: 40.625rem;
      margin-inline: auto;
      margin-top: 6rem;
      font: bold var(--title-lg) var(--ff-base);
      text-align: center;
    }

    p {
      max-width: 28rem;
      margin-inline: auto;
      margin-top: 2rem;
      font: normal var(--text-body)/140% var(--ff-base);
      text-align: center;
    }
  }
}

.subtitle {
  margin-top: 13.125rem;
  position: relative;

  p {
    max-width: 68.75rem;
    margin-inline: auto;
    font: normal 1.8rem/200% var(--ff-base);
    text-align: center;
    padding-block: 7.125rem;
    padding-inline: 2rem;
    color: #787878;

    span {
      transition: color 0.5s ease-in-out;
    }

    strong {
      font-weight: bold;
      transition: color 0.5s ease-in-out;
    }

  }

  .icons-decorations {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    img {
      width: 4rem;
      opacity: 0;
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .t1 { 
      transition-delay: 0s; 
    }
    .t2 { 
      transition-delay: 0.5s; 
    }
    .t3 { 
      transition-delay: 1s; 
    }
  }

  &:hover {
    p {
      color: var(--text-body);

      .t1 { 
        color: var(--blue-light); 
        transition-delay: 0s;
      }

      .t2 { 
        color: var(--blue-light); 
        transition-delay: 0.5s; 
      }

      .t3 { 
        color: var(--blue-light); 
        transition-delay: 1s;
      }

      strong { color: var(--blue-light); }
    }

    .icons-decorations img {
      opacity: 1;
    }
  }

  .icons-decorations {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10rem;

    img {
      position: absolute;
      max-width: 5rem;
      opacity: 0;

      &:nth-child(1) {
        top: -7rem;
        left: 15%;
        transform: rotate(99deg);
      }

      &:nth-child(2) {
        top: -20rem;
        left: 50%;
        transform: rotate(30deg);
      }

      &:nth-child(3) {
        top: -7rem;
        left: 80%;
        transform: rotate(-15deg);
      }
    }
  }
}

/*==== Animação === */
@keyframes subir {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

