.kit-mensal {
    margin-top: 25rem;
    padding-bottom: 28rem;
    text-align: center;

    & h2 {
        font: bold var(--title-sm) var(--ff-base);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content:'';
            width: 32px;
            height: 32px;
            display: inline-block;
            background: url(../assets/vector.svg) no-repeat center center;
            margin-right: 1rem;
        }

        &::after {
            content:'';
            width: 32px;
            height: 32px;
            display: inline-block;
            background: url(../assets/vector.svg) no-repeat center center;
            margin-left: 1rem;
        }
    }

    & p {
        font: normal var(--title-xs)/140% var(--ff-base);
        margin-top: 5px;
        margin-bottom: 13.875rem;
    }

    .imagem-wrapper {
        position: relative;
        width: fit-content;
        margin-inline: auto;

        .fundo-borrado {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #3F0F41;;
            filter: blur(300px);
        }

        #capa {
            width: 467px;
            height: 617px;
            position: relative;
        }

        #marca-texto-1 {
            position: absolute;
            top: 20px;
            left: 110%;
            width: 172px;
            height: 536px;
            transform: rotate(22deg);
            z-index: -1;
        }

        #marca-texto-2 {
            position: absolute;
            top: -80px;
            left: 87%;
            width: 172px;
            height: 536px;
            transform: rotate(12deg);
            z-index: -1;
        }

        #marca-texto-3 {
            position: absolute;
            top: 450px;
            left: -30%;
            width: 222px;
            height: 254px;
            transform: rotate(-8deg);
            z-index: -1;
        }

        #arrow-bottom {
            position: absolute;
            top: 520px;
            left: 105%;
            width: 145.45px;
            height: 151.5px;
        }

        #description-arrow-bottom {
            position: absolute;
            max-width: fit-content;
            right: -120px;
            bottom: -310px;
        }

        #arrow-left {
            position: absolute;
            top: -70px;
            left: -23%;
            width: 145.45px;
            height: 151.5px;
        }

        #description-arrow-left {
            position: absolute;
            max-width: fit-content;
            top: -50px;
            left: -40%;
        }

        #arrow-up {
            position: absolute;
            left: -185px;
            bottom: 120px;
        }

        #description-arrow-up {
            position: absolute;
            left: -200px;
            bottom: 40px;
        }
    }
}


